.welcome{
    background: linear-gradient(to right, #191414, #191414);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    width: 100%;    
    height: 100vh; // find workaround for web-kit
}

.active-welcome {
    background: linear-gradient(to right, #DDD6F3, #FAACA8);
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;    
    height: 100%;
}

.logo {
    color: #1DB954;
    text-align: center;
    width: 100%;        
    transition: all 0.5 ease;
}

.active-logo {
    color: white;
}

.login-button {
    background-color: #1DB954;    
    width: 200px;
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
}
